/* size m */
@media screen and (max-width: 1100px) {
    
}

/* size s */
@media screen and (max-width: 700px) {
    
}


/* size xs */
@media screen and (max-width: 600px) {
    .sidebar {
        width: 50px;
        height: calc(100vh - 100px);;

        /* debug */
        background-color: gold;
    }

    main {
        width: calc(100% - 50px);
    }
}