/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* COMMON */
.wrapper {
    height: 100vh;
    width: 100%;
}

/* UTILITIES */
.flex {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    height: calc(100vh - 100px);
    width: 200px;
    
    /* debug */
    background-color: yellowgreen;
}
/* end sidebar section */

/* MAIN */
main {
    width: calc(100% - 200px);
}

/* header */
.header {
    height: 80px;
    width: 100%;

    /* debug */
    background-color: darkgreen;
}
/* end header*/
/* content */
.content {
    height: calc(100vh - 80px - 100px);
    width: 100%;

    /* debug */
    background-color: chocolate;
}
/* end content section */

/* FOOTER */
footer {
    height: 100px;
    width: 100%;

    /* debug */
    background-color: blueviolet;
}
